In [1]:
import pandas as pd 
df=pd.read_csv("xml_data.csv",sep=",")

In [2]:
df.head(10)

,source_file,ID,Description,Diagnosis,Sex,CaseID,ClinicalPresentation,Commentary,KeyWords,Anatomy,...,ODislocation,OPolytrauma,OOpen,OPathologic,OOperation,OGraft,QCM,WEBURL,LINK,WEBLINK
0,case1683_fr.xml,1683,NaN,Frottis sanguin périphérique normal\n(leucocytes),NaN,NaN,Il s'agit d'une donneuse de sang de 44 ans.\nS...,NaN,"globules blancs, leucocytes, globules rouges, ...",NaN,...,0,0,0,0,00.00.00,0,NaN,http://129.195.254.38:5000/4DMETHOD/_HTML_MCas...,NaN,NaN
1,case1684_fr.xml,1684,NaN,Hématocrite,NaN,NaN,Les éléments figurés du sang (globules\nrouges...,NaN,Hématocrite,NaN,...,0,0,0,0,00.00.00,0,NaN,http://129.195.254.38:5000/4DMETHOD/_HTML_MCas...,NaN,NaN
2,case1685_fr.xml,1685,NaN,Numération des réticulocytes,NaN,NaN,"Cas n* 1, images RETI-1 et RETI-2. Il s'agit\n...",NaN,"Réticulocytes, anémie hémolytique, anémie arég...",NaN,...,0,0,0,0,00.00.00,0,NaN,http://129.195.254.38:5000/4DMETHOD/_HTML_MCas...,NaN,NaN
3,case1686_fr.xml,1686,NaN,Hématopoïèse normale - médullogramme,NaN,NaN,Il s'agit d'un patient en très bonne santé.\nL...,NaN,"érythroïpoïèse, myélopoïèse, plasmocytes, hist...",NaN,...,0,0,0,0,00.00.00,0,NaN,http://129.195.254.38:5000/4DMETHOD/_HTML_MCas...,NaN,NaN
4,case1687_fr.xml,1687,NaN,Myélome multiple,NaN,NaN,"Il s'agit d'un patient de 40 ans, chez qui un\...",NaN,"Myélome multiple, plasmocytes, rouleaux\néryth...",NaN,...,0,0,0,0,00.00.00,0,NaN,http://129.195.254.38:5000/4DMETHOD/_HTML_MCas...,NaN,NaN
5,case1688_fr.xml,1688,coeur Les variations de la vitesse de sédiment...,Vitesse de sédimentation,NaN,NaN,Déterminer la vitesse de chute des globules\nr...,NaN,"Vitesse de sédimentation, système SEDITAINER",NaN,...,0,0,0,0,00.00.00,0,NaN,http://129.195.254.38:5000/4DMETHOD/_HTML_MCas...,NaN,NaN
6,case2159_fr.xml,2159,ULTRASONOGRAPHIE du 30/8/1993 La vésicule bili...,Abcès hépatique sur pyocholécystite,NaN,NaN,PATIENT DE 80 ANS AVEC DOULEURS DE\nL'HYPOCHON...,M. T.G a donc présenté une pyocholécystite com...,"Abcess, Liver, Cholecystitis",NaN,...,0,0,0,0,00.00.00,0,NaN,http://129.195.254.38:5000/4DMETHOD/_HTML_MCas...,NaN,NaN
7,case2160_fr.xml,2160,Calcifications : aucune de signification clini...,Abdomen normal,NaN,NaN,PATIENTE DE 42 ANS AVEC DOULEURS DE\nL'HYPOCHO...,Lorsqu' on demande des clichés de l ' abdomen ...,NaN,NaN,...,0,0,0,0,00.00.00,0,NaN,http://129.195.254.38:5000/4DMETHOD/_HTML_MCas...,NaN,NaN
8,case2161_fr.xml,2161,ABDOMEN SANS PREPARATION DU 9/8/1999: Espace\n...,Adénocarcinome sigmoïdien occlusif,NaN,NaN,PATIENTE DE 67 ANS AVEC DOULEURS ABDOMINALES\n...,En cas d'obstruction mécanique du gros intesti...,"Cancer, colon",NaN,...,0,0,0,0,00.00.00,0,NaN,http://129.195.254.38:5000/4DMETHOD/_HTML_MCas...,NaN,NaN
9,case2162_fr.xml,2162,CT Pelvien DU 21/12/1996: Intestin grêle : asp...,Appendicite aiguÎ phlegmoneuse,NaN,NaN,PATIENT DE 66 ANS AVEC DOULEURS ABDOMINALES\nE...,Diagnostic : appendicite aiguÎ Au vu d'une cli...,Appendicitis,NaN,...,0,0,0,0,00.00.00,0,NaN,http://129.195.254.38:5000/4DMETHOD/_HTML_MCas...,NaN,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1646 entries, 0 to 1645
Data columns (total 40 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   source_file           1646 non-null   object
 1   ID                    1646 non-null   int64
 2   Description           1620 non-null   object
 3   Diagnosis             1645 non-null   object
 4   Sex                   0 non-null      float64
 5   CaseID                694 non-null    float64
 6   ClinicalPresentation  1390 non-null   object
 7   Commentary            1428 non-null   object
 8   KeyWords              211 non-null    object
 9   Anatomy               502 non-null    object
 10  Chapter               944 non-null    object
 11  ACR                   903 non-null    object
 12  References            311 non-null    object
 13  Author                765 non-null    object
 14  Reviewer              617 non-null    object
 15  Hospital              1614 non-null   object
 16  Department            1614 non-null   object
 17  State                 230 non-null    object
 18  Date                  1646 non-null   object
 19  Language              1645 non-null   object
 20  Title                 1646 non-null   object
 21  Birthdate             1646 non-null   object
 22  Age                   1646 non-null   int64
 23  ImageThumbnaillID     1646 non-null   int64
 24  Creation              1646 non-null   object
 25  DateTime              1646 non-null   object
 26  Order                 1646 non-null   int64
 27  OJoint                1 non-null      object
 28  OLocation             2 non-null      object
 29  OImplant              1 non-null      object
 30  ODislocation          1646 non-null   int64
 31  OPolytrauma           1646 non-null   int64
 32  OOpen                 1646 non-null   int64
 33  OPathologic           1646 non-null   int64
 34  OOperation            1646 non-null   object
 35  OGraft                1646 non-null   int64
 36  QCM                   0 non-null      float64
 37  WEBURL                1646 non-null   object
 38  LINK                  0 non-null      float64
 39  WEBLINK               0 non-null      float64
dtypes: float64(5), int64(9), object(26)
memory usage: 514.5+ KB

## colonnes  à supprimer

In [4]:
df.isna().sum()

source_file                0
ID                         0
Description               26
Diagnosis                  1
Sex                     1646
CaseID                   952
ClinicalPresentation     256
Commentary               218
KeyWords                1435
Anatomy                 1144
Chapter                  702
ACR                      743
References              1335
Author                   881
Reviewer                1029
Hospital                  32
Department                32
State                   1416
Date                       0
Language                   1
Title                      0
Birthdate                  0
Age                        0
ImageThumbnaillID          0
Creation                   0
DateTime                   0
Order                      0
OJoint                  1645
OLocation               1644
OImplant                1645
ODislocation               0
OPolytrauma                0
OOpen                      0
OPathologic                0
OOperation                 0
OGraft                     0
QCM                     1646
WEBURL                     0
LINK                    1646
WEBLINK                 1646
dtype: int64

In [5]:
import pandas as pd

def drop_columns_with_many_nulls(df, threshold=800):
    """
    Supprime les colonnes d'un DataFrame qui ont plus de `threshold` valeurs nulles.
    
    Parameters:
        df (pd.DataFrame): le DataFrame à traiter
        threshold (int): le nombre de nulls au-delà duquel la colonne sera supprimée
        
    Returns:
        pd.DataFrame: DataFrame avec les colonnes supprimées
    """
    # Identifier les colonnes à supprimer
    
    cols_to_drop = df.columns[df.isna().sum() > threshold]
    print(f"Colonnes supprimées ({len(cols_to_drop)}): {list(cols_to_drop)}")
    
    # Supprimer les colonnes
    df_cleaned = df.drop(columns=cols_to_drop)
    return df_cleaned

In [6]:
df = drop_columns_with_many_nulls(df)

Colonnes supprimées (14): ['Sex', 'CaseID', 'KeyWords', 'Anatomy', 'References', 'Author', 'Reviewer', 'State', 'OJoint', 'OLocation', 'OImplant', 'QCM', 'LINK', 'WEBLINK']

In [7]:
df.head(10)

,source_file,ID,Description,Diagnosis,ClinicalPresentation,Commentary,Chapter,ACR,Hospital,Department,...,Creation,DateTime,Order,ODislocation,OPolytrauma,OOpen,OPathologic,OOperation,OGraft,WEBURL
0,case1683_fr.xml,1683,NaN,Frottis sanguin périphérique normal\n(leucocytes),Il s'agit d'une donneuse de sang de 44 ans.\nS...,NaN,NaN,NaN,HUG,Hémathologie,...,15.01.2003,18:05:05,0,0,0,0,0,00.00.00,0,http://129.195.254.38:5000/4DMETHOD/_HTML_MCas...
1,case1684_fr.xml,1684,NaN,Hématocrite,Les éléments figurés du sang (globules\nrouges...,NaN,NaN,NaN,HUG,Hémathologie,...,24.01.2003,18:05:05,0,0,0,0,0,00.00.00,0,http://129.195.254.38:5000/4DMETHOD/_HTML_MCas...
2,case1685_fr.xml,1685,NaN,Numération des réticulocytes,"Cas n* 1, images RETI-1 et RETI-2. Il s'agit\n...",NaN,NaN,NaN,HUG,Hémathologie,...,23.01.2003,18:05:05,0,0,0,0,0,00.00.00,0,http://129.195.254.38:5000/4DMETHOD/_HTML_MCas...
3,case1686_fr.xml,1686,NaN,Hématopoïèse normale - médullogramme,Il s'agit d'un patient en très bonne santé.\nL...,NaN,NaN,NaN,HUG,Hémathologie,...,20.01.2003,18:05:06,0,0,0,0,0,00.00.00,0,http://129.195.254.38:5000/4DMETHOD/_HTML_MCas...
4,case1687_fr.xml,1687,NaN,Myélome multiple,"Il s'agit d'un patient de 40 ans, chez qui un\...",NaN,NaN,NaN,HUG,Hémathologie,...,22.01.2003,18:05:06,0,0,0,0,0,00.00.00,0,http://129.195.254.38:5000/4DMETHOD/_HTML_MCas...
5,case1688_fr.xml,1688,coeur Les variations de la vitesse de sédiment...,Vitesse de sédimentation,Déterminer la vitesse de chute des globules\nr...,NaN,NaN,NaN,HUG,Hémathologie,...,24.01.2003,18:05:06,0,0,0,0,0,00.00.00,0,http://129.195.254.38:5000/4DMETHOD/_HTML_MCas...
6,case2159_fr.xml,2159,ULTRASONOGRAPHIE du 30/8/1993 La vésicule bili...,Abcès hépatique sur pyocholécystite,PATIENT DE 80 ANS AVEC DOULEURS DE\nL'HYPOCHON...,M. T.G a donc présenté une pyocholécystite com...,Foie et VB,76.21,HUG,Département de Radiologie,...,23.11.2001,18:04:37,1012,0,0,0,0,00.00.00,0,http://129.195.254.38:5000/4DMETHOD/_HTML_MCas...
7,case2160_fr.xml,2160,Calcifications : aucune de signification clini...,Abdomen normal,PATIENTE DE 42 ANS AVEC DOULEURS DE\nL'HYPOCHO...,Lorsqu' on demande des clichés de l ' abdomen ...,Abdomen normal,NaN,HUG,Département de Radiologie,...,17.12.2001,18:04:37,2,0,0,0,0,00.00.00,0,http://129.195.254.38:5000/4DMETHOD/_HTML_MCas...
8,case2161_fr.xml,2161,ABDOMEN SANS PREPARATION DU 9/8/1999: Espace\n...,Adénocarcinome sigmoïdien occlusif,PATIENTE DE 67 ANS AVEC DOULEURS ABDOMINALES\n...,En cas d'obstruction mécanique du gros intesti...,Colon,"756.725, 756.321",HUG,Département de Radiologie,...,23.11.2001,18:04:37,6,0,0,0,0,00.00.00,0,http://129.195.254.38:5000/4DMETHOD/_HTML_MCas...
9,case2162_fr.xml,2162,CT Pelvien DU 21/12/1996: Intestin grêle : asp...,Appendicite aiguÎ phlegmoneuse,PATIENT DE 66 ANS AVEC DOULEURS ABDOMINALES\nE...,Diagnostic : appendicite aiguÎ Au vu d'une cli...,Colon,751.291,HUG,Département de Radiologie,...,23.11.2001,18:04:37,8,0,0,0,0,00.00.00,0,http://129.195.254.38:5000/4DMETHOD/_HTML_MCas...

In [8]:
df["OOperation"].values

array(['00.00.00', '00.00.00', '00.00.00', ..., '00.00.00', '00.00.00',
       '00.00.00'], shape=(1646,), dtype=object)

In [9]:
df["OOperation"].value_counts()

OOperation
00.00.00      1645
02.02.2002       1
Name: count, dtype: int64

In [10]:
df.drop("OOperation",axis=1,inplace=True)

In [11]:
df

,source_file,ID,Description,Diagnosis,ClinicalPresentation,Commentary,Chapter,ACR,Hospital,Department,...,ImageThumbnaillID,Creation,DateTime,Order,ODislocation,OPolytrauma,OOpen,OPathologic,OGraft,WEBURL
0,case1683_fr.xml,1683,NaN,Frottis sanguin périphérique normal\n(leucocytes),Il s'agit d'une donneuse de sang de 44 ans.\nS...,NaN,NaN,NaN,HUG,Hémathologie,...,6356,15.01.2003,18:05:05,0,0,0,0,0,0,http://129.195.254.38:5000/4DMETHOD/_HTML_MCas...
1,case1684_fr.xml,1684,NaN,Hématocrite,Les éléments figurés du sang (globules\nrouges...,NaN,NaN,NaN,HUG,Hémathologie,...,6363,24.01.2003,18:05:05,0,0,0,0,0,0,http://129.195.254.38:5000/4DMETHOD/_HTML_MCas...
2,case1685_fr.xml,1685,NaN,Numération des réticulocytes,"Cas n* 1, images RETI-1 et RETI-2. Il s'agit\n...",NaN,NaN,NaN,HUG,Hémathologie,...,6366,23.01.2003,18:05:05,0,0,0,0,0,0,http://129.195.254.38:5000/4DMETHOD/_HTML_MCas...
3,case1686_fr.xml,1686,NaN,Hématopoïèse normale - médullogramme,Il s'agit d'un patient en très bonne santé.\nL...,NaN,NaN,NaN,HUG,Hémathologie,...,6370,20.01.2003,18:05:06,0,0,0,0,0,0,http://129.195.254.38:5000/4DMETHOD/_HTML_MCas...
4,case1687_fr.xml,1687,NaN,Myélome multiple,"Il s'agit d'un patient de 40 ans, chez qui un\...",NaN,NaN,NaN,HUG,Hémathologie,...,6402,22.01.2003,18:05:06,0,0,0,0,0,0,http://129.195.254.38:5000/4DMETHOD/_HTML_MCas...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1641,case4235_fr.xml,4235,Miliaire pulmonaire,TBC miliaire,"Patiente péruvienne de 30 ans, avec TBC\nverté...",NaN,Syndrome interstitiel,NaN,HUG,Département de Radiologie,...,17111,07.09.2003,18:15:32,1024,0,0,0,0,0,http://129.195.254.38:5000/4DMETHOD/_HTML_MCas...
1642,case4236_fr.xml,4236,Syndrome de comblement alvéolaire du lobe supé...,TBC pulmonaire active,"Patient de 45 ans en bonne santé habituelle,\n...",NaN,Syndrome alvéolaire,NaN,HUG,Département de Radiologie,...,17113,04.07.2003,18:15:31,1020,0,0,0,0,0,http://129.195.254.38:5000/4DMETHOD/_HTML_MCas...
1643,case4237_fr.xml,4237,NaN,Thorax normal,NaN,NaN,Thorax normal,NaN,HUG,Département de Radiologie,...,17119,05.05.2003,18:15:31,3,0,0,0,0,0,http://129.195.254.38:5000/4DMETHOD/_HTML_MCas...
1644,case4238_fr.xml,4238,Masse lentement progressive du médiastin antér...,Thymome,Patiente de 68 ans ayant développé sur 8 ans\n...,NaN,Masses hilaires et médiastinales,NaN,HUG,Département de Radiologie,...,17123,07.09.2003,18:15:32,1049,0,0,0,0,0,http://129.195.254.38:5000/4DMETHOD/_HTML_MCas...
1645,case4239_fr.xml,4239,NaN,Tumeur de Pancoast,"Patient de 58 ans, qui présente des\ncervico-b...",NaN,Nodule pulmonaire,NaN,HUG,Département de Radiologie,...,17125,11.04.2004,18:15:33,1043,0,0,0,0,0,http://129.195.254.38:5000/4DMETHOD/_HTML_MCas...

## detection types

In [12]:
df.dtypes

source_file             object
ID                       int64
Description             object
Diagnosis               object
ClinicalPresentation    object
Commentary              object
Chapter                 object
ACR                     object
Hospital                object
Department              object
Date                    object
Language                object
Title                   object
Birthdate               object
Age                      int64
ImageThumbnaillID        int64
Creation                object
DateTime                object
Order                    int64
ODislocation             int64
OPolytrauma              int64
OOpen                    int64
OPathologic              int64
OGraft                   int64
WEBURL                  object
dtype: object

In [13]:
def show_example_non_nulls(df):
    """
    Affiche une valeur non nulle pour chaque colonne du DataFrame.
    """
    examples = {}
    for col in df.columns:
        # Sélectionner la première valeur non nulle
        non_null_value = df[col].dropna().iloc[0] if not df[col].dropna().empty else None
        examples[col] = non_null_value
    return pd.Series(examples)

# Exemple d'utilisation
example_values = show_example_non_nulls(df)
print(example_values)

source_file                                               case1683_fr.xml
ID                                                                   1683
Description             coeur Les variations de la vitesse de sédiment...
Diagnosis               Frottis sanguin périphérique normal\n(leucocytes)
ClinicalPresentation    Il s'agit d'une donneuse de sang de 44 ans.\nS...
Commentary              M. T.G a donc présenté une pyocholécystite com...
Chapter                                                        Foie et VB
ACR                                                                 76.21
Hospital                                                              HUG
Department                                                   Hémathologie
Date                                                           21.03.2003
Language                                                           French
Title                                                Hématologie-APP-2ème
Birthdate                                                      18.08.2003
Age                                                                    44
ImageThumbnaillID                                                    6356
Creation                                                       15.01.2003
DateTime                                                         18:05:05
Order                                                                   0
ODislocation                                                            0
OPolytrauma                                                             0
OOpen                                                                   0
OPathologic                                                             0
OGraft                                                                  0
WEBURL                  http://129.195.254.38:5000/4DMETHOD/_HTML_MCas...
dtype: object

In [14]:
# Séparer la colonne 'ACR' en plusieurs colonnes
acr_split = df['ACR'].str.split(',', expand=True)

# Renommer les colonnes : acr1, acr2, acr3...
acr_split.columns = [f'ACR{i+1}' for i in range(acr_split.shape[1])]

# Convertir les valeurs en float
acr_split = acr_split.apply(pd.to_numeric, errors='coerce')

# Concaténer avec le DataFrame original si nécessaire
df = pd.concat([df.drop(columns=['ACR']), acr_split], axis=1)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1646 entries, 0 to 1645
Data columns (total 28 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   source_file           1646 non-null   object
 1   ID                    1646 non-null   int64
 2   Description           1620 non-null   object
 3   Diagnosis             1645 non-null   object
 4   ClinicalPresentation  1390 non-null   object
 5   Commentary            1428 non-null   object
 6   Chapter               944 non-null    object
 7   Hospital              1614 non-null   object
 8   Department            1614 non-null   object
 9   Date                  1646 non-null   object
 10  Language              1645 non-null   object
 11  Title                 1646 non-null   object
 12  Birthdate             1646 non-null   object
 13  Age                   1646 non-null   int64
 14  ImageThumbnaillID     1646 non-null   int64
 15  Creation              1646 non-null   object
 16  DateTime              1646 non-null   object
 17  Order                 1646 non-null   int64
 18  ODislocation          1646 non-null   int64
 19  OPolytrauma           1646 non-null   int64
 20  OOpen                 1646 non-null   int64
 21  OPathologic           1646 non-null   int64
 22  OGraft                1646 non-null   int64
 23  WEBURL                1646 non-null   object
 24  ACR1                  901 non-null    float64
 25  ACR2                  309 non-null    float64
 26  ACR3                  75 non-null     float64
 27  ACR4                  1 non-null      float64
dtypes: float64(4), int64(9), object(15)
memory usage: 360.2+ KB

In [16]:
# Liste des colonnes à traiter
cols_to_fill = ["ACR1", "ACR2", "ACR3", "ACR4"]

# Remplacer les NaN par 0
df[cols_to_fill] = df[cols_to_fill].fillna(0)

# Vérifier
print(df[cols_to_fill].info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1646 entries, 0 to 1645
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ACR1    1646 non-null   float64
 1   ACR2    1646 non-null   float64
 2   ACR3    1646 non-null   float64
 3   ACR4    1646 non-null   float64
dtypes: float64(4)
memory usage: 51.6 KB
None

In [17]:
df.dtypes

source_file              object
ID                        int64
Description              object
Diagnosis                object
ClinicalPresentation     object
Commentary               object
Chapter                  object
Hospital                 object
Department               object
Date                     object
Language                 object
Title                    object
Birthdate                object
Age                       int64
ImageThumbnaillID         int64
Creation                 object
DateTime                 object
Order                     int64
ODislocation              int64
OPolytrauma               int64
OOpen                     int64
OPathologic               int64
OGraft                    int64
WEBURL                   object
ACR1                    float64
ACR2                    float64
ACR3                    float64
ACR4                    float64
dtype: object

# Remplir les colonnes vides

In [18]:
textual_cols = [
    "Description", "ClinicalPresentation", "Commentary", 
    "Chapter", "Hospital", "Department", "Language" ,"Diagnosis"
]
df[textual_cols] = df[textual_cols].fillna("Non précisé")

In [19]:
numeric_cols = [ "ODislocation", "OPolytrauma", "OOpen", "OPathologic", "OGraft"]
df[numeric_cols] = df[numeric_cols].fillna(0)

In [20]:
# ✅ Conversion avec gestion d’erreurs
df['Date'] = pd.to_datetime(df['Date'], format='%d.%m.%Y', errors='coerce')
df['Birthdate'] = pd.to_datetime(df['Birthdate'], format='%d.%m.%Y', errors='coerce')
df['Creation'] = pd.to_datetime(df['Creation'], format='%d.%m.%Y', errors='coerce')

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1646 entries, 0 to 1645
Data columns (total 28 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   source_file           1646 non-null   object
 1   ID                    1646 non-null   int64
 2   Description           1646 non-null   object
 3   Diagnosis             1646 non-null   object
 4   ClinicalPresentation  1646 non-null   object
 5   Commentary            1646 non-null   object
 6   Chapter               1646 non-null   object
 7   Hospital              1646 non-null   object
 8   Department            1646 non-null   object
 9   Date                  1646 non-null   datetime64[ns]
 10  Language              1646 non-null   object
 11  Title                 1646 non-null   object
 12  Birthdate             1646 non-null   datetime64[ns]
 13  Age                   1646 non-null   int64
 14  ImageThumbnaillID     1646 non-null   int64
 15  Creation              1603 non-null   datetime64[ns]
 16  DateTime              1646 non-null   object
 17  Order                 1646 non-null   int64
 18  ODislocation          1646 non-null   int64
 19  OPolytrauma           1646 non-null   int64
 20  OOpen                 1646 non-null   int64
 21  OPathologic           1646 non-null   int64
 22  OGraft                1646 non-null   int64
 23  WEBURL                1646 non-null   object
 24  ACR1                  1646 non-null   float64
 25  ACR2                  1646 non-null   float64
 26  ACR3                  1646 non-null   float64
 27  ACR4                  1646 non-null   float64
dtypes: datetime64[ns](3), float64(4), int64(9), object(12)
memory usage: 360.2+ KB

In [22]:
invalid_creation = df[df['Creation'].isna()]
invalid_creation['Creation'].head()

1150   NaT
1151   NaT
1153   NaT
1154   NaT
1155   NaT
Name: Creation, dtype: datetime64[ns]

In [23]:
df[['Date','Birthdate','Creation','DateTime']]

           Date  Birthdate   Creation  DateTime
0    2003-03-21 2003-08-18 2003-01-15  18:05:05
1    2003-03-21 2003-08-18 2003-01-24  18:05:05
2    2003-03-21 2003-08-18 2003-01-23  18:05:05
3    2003-03-21 2003-08-18 2003-01-20  18:05:06
4    2003-03-21 2003-08-18 2003-01-22  18:05:06
...         ...        ...        ...       ...
1641 2004-09-03 2003-08-18 2003-09-07  18:15:32
1642 2004-09-03 2003-08-18 2003-07-04  18:15:31
1643 2004-09-03 2003-08-18 2003-05-05  18:15:31
1644 2004-09-03 2003-08-18 2003-09-07  18:15:32
1645 2004-09-03 2003-08-18 2004-04-11  18:15:33

[1646 rows x 4 columns]

In [24]:
df['Creation'] = df['Creation'].fillna(df['Date'])

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1646 entries, 0 to 1645
Data columns (total 28 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   source_file           1646 non-null   object
 1   ID                    1646 non-null   int64
 2   Description           1646 non-null   object
 3   Diagnosis             1646 non-null   object
 4   ClinicalPresentation  1646 non-null   object
 5   Commentary            1646 non-null   object
 6   Chapter               1646 non-null   object
 7   Hospital              1646 non-null   object
 8   Department            1646 non-null   object
 9   Date                  1646 non-null   datetime64[ns]
 10  Language              1646 non-null   object
 11  Title                 1646 non-null   object
 12  Birthdate             1646 non-null   datetime64[ns]
 13  Age                   1646 non-null   int64
 14  ImageThumbnaillID     1646 non-null   int64
 15  Creation              1646 non-null   datetime64[ns]
 16  DateTime              1646 non-null   object
 17  Order                 1646 non-null   int64
 18  ODislocation          1646 non-null   int64
 19  OPolytrauma           1646 non-null   int64
 20  OOpen                 1646 non-null   int64
 21  OPathologic           1646 non-null   int64
 22  OGraft                1646 non-null   int64
 23  WEBURL                1646 non-null   object
 24  ACR1                  1646 non-null   float64
 25  ACR2                  1646 non-null   float64
 26  ACR3                  1646 non-null   float64
 27  ACR4                  1646 non-null   float64
dtypes: datetime64[ns](3), float64(4), int64(9), object(12)
memory usage: 360.2+ KB

In [26]:
for col in df.columns:
    print(f"{col} : {df[col].nunique()} valeurs uniques")

source_file : 1646 valeurs uniques
ID : 1646 valeurs uniques
Description : 1543 valeurs uniques
Diagnosis : 1420 valeurs uniques
ClinicalPresentation : 1304 valeurs uniques
Commentary : 1306 valeurs uniques
Chapter : 184 valeurs uniques
Hospital : 2 valeurs uniques
Department : 5 valeurs uniques
Date : 10 valeurs uniques
Language : 2 valeurs uniques
Title : 41 valeurs uniques
Birthdate : 1 valeurs uniques
Age : 93 valeurs uniques
ImageThumbnaillID : 916 valeurs uniques
Creation : 133 valeurs uniques
DateTime : 375 valeurs uniques
Order : 124 valeurs uniques
ODislocation : 1 valeurs uniques
OPolytrauma : 1 valeurs uniques
OOpen : 1 valeurs uniques
OPathologic : 1 valeurs uniques
OGraft : 1 valeurs uniques
WEBURL : 1646 valeurs uniques
ACR1 : 506 valeurs uniques
ACR2 : 238 valeurs uniques
ACR3 : 36 valeurs uniques
ACR4 : 2 valeurs uniques

In [28]:
df.to_csv("cleaned_csv.csv",sep=",")